.hero {
  display: flex;
  padding-inline: 160px;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  margin: auto;
  overflow: clip;
  
  
}

.hero-principal{
  background-color: #181012;
  
}

.header-hero {
  display: flex;
  flex-direction:column;
  gap: 16px;
  
  
  
}
.hero-novidade {
  color: #A45A49;
  font-size: 14px;
  padding-top: 24px;
  font-family: var(--font-family-epilogue);
  text-transform: uppercase;
  
}

.hero-title {
  font-family: var(--font-family-mont);
  font-size: 56px;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 480px;
  
  
}

hr {
  border-color:#A45A49 ;
  width: 240px;
  height: 2px;

  hr{
  background: #A45A49;
  }
}

.hero-subtitle {
  font-family: var(--font-family-inter);
  font-weight: 200;
  font-size: 20px;
  line-height: 156%;
  padding-bottom: 64px;
  max-width: 450px;
  
}



.images-hero-container {
  column-count: 4;
  column-gap: 16px;
  margin-block: -64px; 
  margin-inline: -6rem;

}

.images-hero-container > figure > img { 
  border-radius: 10px;
}

.button-container{
  padding-inline-start: 160px; 
  width: 100%;
  background-color: #38282B;

   }

  button {
  
  background-color: #A45A49;
  border-radius: 10px;
  padding: 1rem;
  margin: auto;
  transform: translate(0, -50%);
  
}















